<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @todo.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @todo.user_id %>
</p>

<%= link_to 'Edit', edit_user_todo_path({user_id: @user.id, id: @todo.id}) %> |
<%= link_to 'Back', user_path(@user) %>
